th {
    padding-right: 100px;
}

tr {
    padding: 20px 10px 10px 10px;
}

tr:nth-child(even) {
    background-color: blue;
}

tr:nth-child(odd) {
    background-color: aquamarine;
}

tr,
td,
th {
    color: rgb(248, 5, 236);
}

th:nth-child(odd) {
    background-color: #5c5454;
}

th:nth-child(even) {
    background-color: #c0b8b8;
}
